$principal-one : #2E2B67;
$principal-two : #685AD1;
$principal-three : #9C92DB;
$secundary-one : #ADE3FF;
$secundary-two : #FFCE53;
$secundary-three : #FBD0D5;
$text-color : #444444;
$black : #000000;
$white : #ffffff;