$principal_one : #2E2B67;
$principal_two : #685AD1;
$principal_three : #9C92DB;
$secundary_one : #ADE3FF;
$secundary_two : #FFCE53;
$secundary_three : #FBD0D5;
$text_color : #444444;
$black : #000000;
$white : #ffffff;
